<!DOCTYPE html>
<html>
<head>
    <title>tytuł</title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href="/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>

<nav class='navbar navbar-default'>
    <div class='container'>
        <ul class='nav navbar-nav'>
            <li><a href='/#/'>Posty</a></li>
            <li><a href='/#/register'>Rejestracja</a></li>
            <li><a href='/#/login'>Logowanie</a></li>
        </ul>
    </div>
</nav>



<body ng-app='app'>
<div ng-view></div>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular-route.js'></script>
<script src="/app.js">

</script>
</body>
</html>
